# This is Git's per-user configuration file.
[user]
    name = Stefan Armijo
    email = stefan.armijo@gmail.com
[core]
	excludesfile = ~/.gitignore_global
    editor = vim
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =
[mergetool "sourcetree"]
    cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[commit]
    template = ~/.stCommitMsg
[push]
    default = current
[pull]
    default = current

[url "https://"]
    insteadOf = git://
[help]
    autoCorrect = 0
[color]
    ui = auto
[init]
	defaultBranch = master
