# No output from npm
loglevel=silent

# Defaults for project init
init-author-name=REPLACE_NAME
init-author-email=REPLACE_EMAIL
init-author-url=https://github.com/REPLACE_GITHUB_USER
init-version=0.0.1
