# No output from npm
loglevel=silent

# Defaults for project init
init-author-name=Stefan Armijo
init-author-email=stefan.armijo@gmail.com
init-author-url=https://github.com/Stefanough
init-version=0.0.1
